body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    color: #1e1e1e;
    margin: 0;
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.name-container {
    font-size: 1rem;
    display: flex;
    align-items: center;
    height: 50vh;
    height: 100vh;
}

.name {
    font-weight: 500;
    transition: transform .7s ease;
}

.name:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
    
}

.name:hover::before,
.name:hover::after {
    animation-name: slide;
    animation-duration: .5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.icon:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}

.links-container {
    padding-bottom: auto;
}

