body {
    background-color: #FBFCFF;
    font-family: 'Poppins', sans-serif;
    color: #1e1e1e;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.name-container {
    font-size: 1rem;
    display: flex;
    align-items: center;
    height: 50vh;
    height: 100vh;
}

.name {
    font-weight: 500;
    letter-spacing: 1;
    transition: transform .7s ease;
    font-weight: 600;
    font-variant-caps: all-petite-caps;
}

.name:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
    
}

.name:hover::before,
.name:hover::after {
    animation-name: slide;
    animation-duration: .5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.icon:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}

.links-container {
    padding-bottom: auto;
}

#jokes-container {
    padding: 1rem;
    background: #F3F5F6;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 10px;
    display: flex;
    flex-direction: column;
    color: #1e1e1e;
    
}

.newJokeBtn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 100;
    font-variant-caps: all-petite-caps;
    border-radius: 0.5rem;
    border-width: 0;
    background: #1e1e1e;
    color: #FBFCFF;
    font-size: 1.2rem;
    cursor: pointer;
}

